@import '@/assets/css/colors';

.rel {
	position: relative;
}

.zag {
	font-size: 1.8rem;
	color: #666;
}

.my  {
	.v-label {
		font-size: .85rem;
	}
	.v-input__control {
		height: 20px;
	}
}
@media (min-width: 1800px) {
	.container {
		max-width: 100%;
	}
}
.tight .v-expansion-panel-content__wrap {
	// padding: 0 4px;
	margin-bottom: 1.5rem;
}
.v-application--is-ltr .v-expansion-panel-header__icon {
	margin-right: -8px;
}
.v-menu__content {
	z-index: 250 !important;
}
